Repository atviriduomenys/manifest, pull requests merged in 2024-09, with the labels that each got.

#3567 3566 teral ileidiam su nuotekomis metinis kiekis
  datasets/gov/simno_komun/tersalai_pries_valyma.csv
  get_data_gov_lt.in
Labels: Simno komunalininkas

#3573 3572 pagd vpgtis vyki suvestin
  datasets/gov/pagd/ivykiu_suvestine.csv
  get_data_gov_lt.in
Labels: priešgaisrinės apsaugos ir gelbėjimo departamentas

#3575 3574 skiepijimų duomenys
  datasets/gov/lsd/sveikata/skiepai.csv
  get_data_gov_lt.in
Labels: lietuvos statistikos departamentas

#3605 3604 muitins gvs
  datasets/gov/muitine/vienkartiniu_garantiju_duomenys.csv
  get_data_gov_lt.in
Labels: muitinės departamentas

#3610 3608 llti pokario
  datasets/gov/llti/pokario_vilnius_irasai.csv
  get_data_gov_lt.in
Labels: lietuvių literatūros ir tautosakos institutas

#3616 3615 nepriklausomų elektros energijos tiekėjų planai
  datasets/gov/vert/neprikl_ee_tiek_planai.csv
  get_data_gov_lt.in
Labels: valstybinė energetikos reguliavo taryba

#3637 3636 vdtat lidoks
  datasets/gov/vdtat/saugiuju_dokumentu_registras.csv
  get_data_gov_lt.in
Labels: Valstybės dokumentų technologinės apsaugos tarnyba

#3651 Update vilniaus_zinomumas.csv
  datasets/gov/go_vilnius/vilniaus_zinomumas.csv
Labels: GO Vilnius

#3652 Update turizmas.csv
  datasets/gov/go_vilnius/turizmas.csv
Labels: GO Vilnius

#3660 3636 vdtat lidoks update2
  datasets/gov/vdtat/saugiuju_dokumentu_registras.csv
Labels: Valstybės dokumentų technologinės apsaugos tarnyba
