Repository atviriduomenys/manifest, pull requests merged in 2024-12, with the labels that each got.

#3936 3935 švietimo įstaigų lankomumo rodikliai
  datasets/gov/nsa/silr/silr.csv
  get_data_gov_lt.in
Labels: nacionalinė švietimo agentūra

#3939 3938 socialinių projektų duomenys
  datasets/gov/sppd/socialiniu_projektu_duomenys.csv
  get_data_gov_lt.in
Labels: socialinių paslaugų priežiūros departamentas

#3945 3944 šiaulių leidimų duomenys
  datasets/gov/siauliu_m_sav/leidimu_administravimas.csv
  get_data_gov_lt.in
Labels: Šiaulių miesto savivaldybės administracija
