Repository atviriduomenys/manifest, pull requests merged in 2024-08, with the labels that each got.

#3448 3446 fizinių asmenų elektros energijos suvartojimo duomenys
  datasets/gov/eso/fiz_asm_elektros_suvartojimas.csv
  get_data_gov_lt.in
Labels: energijos skirstymo operatorius

#3450 3437 transliacijos stočių leidimai pavadinimai fix
  datasets/gov/rrt/leid_transliacijos_stotys.csv
Labels: ryšių reguliavimo tarnyba

#3452 3451 vaik primimo kauno miesto bendrojo ugdymo staigas praymai
  datasets/gov/kauno_m_sav/priemimo_i_mokyklas_prasymai.csv
  get_data_gov_lt.in
Labels: Kauno miesto savivaldybė

#3473 3471 klaipdos r sav dmis
  datasets/gov/klaipedos_r_sav/ugdymo_istaigu_priemimai.csv
  get_data_gov_lt.in
Labels: Klaipėdos rajono savivaldybė

#3479 Update ugdymo_istaigu_priemimai.csv
  datasets/gov/klaipedos_r_sav/ugdymo_istaigu_priemimai.csv
Labels: Klaipėdos rajono savivaldybė

#3480 Update ugdymo_istaigu_priemimai.csv
  datasets/gov/klaipedos_r_sav/ugdymo_istaigu_priemimai.csv
Labels: Klaipėdos rajono savivaldybė

#3497 Update jur_asm_elektros_suvartojimas.csv
  datasets/gov/eso/jur_asm_elektros_suvartojimas.csv
Labels: energijos skirstymo operatorius

#3496 3495 kauno m sav ppipugis
  datasets/gov/kauno_m_sav/darzeliu_priemimai.csv
  datasets/gov/kauno_m_sav/priemimo_i_mokyklas_prasymai.csv
  get_data_gov_lt.in
Labels: Kauno miesto savivaldybė

#3504 Update darzeliu_priemimai.csv
  datasets/gov/kauno_m_sav/darzeliu_priemimai.csv
Labels: Kauno miesto savivaldybė

#3519 3518 at tikrinimai
  datasets/gov/ast/skaitikliu_tikrinimai.csv
  get_data_gov_lt.in
Labels: Alytaus šilumos tinklai

#3535 3534 go vilnius 2023 m zinomumo apklausa
  datasets/gov/go_vilnius/vilniaus_zinomumas.csv
  get_data_gov_lt.in
Labels: GO Vilnius

#3552 3550 kretingos primimo mokyklas duomenys
  datasets/gov/kretingos_r_sav/mokyklinio_ugdymo_istaigu_priemimai.csv
  get_data_gov_lt.in
Labels: kretingos rajono savivaldybė
