Repository atviriduomenys/manifest, pull requests merged in 2024-10, with the labels that each got.

#3664 3663 mokym ir konsultacij apie lygias galimybes duomenys
  datasets/gov/lgkt/mokymai.csv
  get_data_gov_lt.in
Labels: Lygių galimybių kontrolierių tarnyba

#3666 3665 muitins atar
  datasets/gov/muitine/ata_knygeles_lakstai.csv
  get_data_gov_lt.in
Labels: muitinės departamentas

#3687 Add files via upload
  datasets/gov/eimin/prof_patirt_patvirtinimas.csv
  get_data_gov_lt.in
Labels: LR ekonomikos ir inovacijų ministerija

#3714 3713 muitins mgis
  datasets/gov/muitine/muitines_meginiai.csv
  get_data_gov_lt.in
Labels: muitinės departamentas

#3719 Update muitines_meginiai.csv
  datasets/gov/muitine/muitines_meginiai.csv
Labels: muitinės departamentas

#3727 Update teises_aktai.csv
  datasets/gov/lrsk/teises_aktai.csv
Labels: seimo kanceliarija

#3743 3742 valstybs strategij finansiniai duomenys
  datasets/gov/finmin/strategiju_finansiniai_duomenys.csv
  get_data_gov_lt.in
Labels: finansų ministerija

#3744 3713 muitins mgis update2
  datasets/gov/muitine/muitines_meginiai.csv
Labels: muitinės departamentas

#3746 3745 muitins gmm
  datasets/gov/muitine/garantai.csv
  get_data_gov_lt.in
Labels: muitinės departamentas

#3766 3765 muitins nas
  datasets/gov/muitine/transporto_srautai.csv
  get_data_gov_lt.in
Labels: muitinės departamentas
