Repository atviriduomenys/manifest, pull requests merged in 2025-02, with the labels that each got.

#4027 3889 anykščių želdiniai multi2
  datasets/gov/anyksciu_r_sav/zeldiniai.csv
Labels: Anykščių rajono savivaldybė

#4055 3920 marijampolės tvs upd
  datasets/gov/marijampoles_sav/savivaldybes_objektai.csv
Labels: Marijampolės savivaldybės administracija

#4057 4056 regitra ktpvr
  datasets/gov/regitra/ktpvr.csv
  get_data_gov_lt.in
Labels: regitra

#4059 4058 pagd pranešimai
  datasets/gov/pagd/pranesimai.csv
  get_data_gov_lt.in
Labels: priešgaisrinės apsaugos ir gelbėjimo departamentas

#4062 Update savivaldybes_objektai.csv
  datasets/gov/marijampoles_sav/savivaldybes_objektai.csv
Labels: Marijampolės savivaldybės administracija

#4061 4060 geriausių mokslo ir meno darbų vertinimo duomenys
  datasets/gov/lmt/top_darbu_vertinimas.csv
  get_data_gov_lt.in
Labels: Lietuvos mokslo taryba

#4074 4073 mvg programa
  datasets/gov/lamabpo/mvg_programa.csv
  get_data_gov_lt.in
Labels: lamabpo
